[2021-02-11 12:19] bloodycoffin opened #66 "Players can't whisper, OPs can't whisper to other worlds"
Players can't use the /tell or /msg commands anymore.
OPs can't whisper players in other worlds.

Suggestion @ChipWolf: install https://www.spigotmc.org/resources/crosstalk.84089/ for messaging players in other worlds.
If this also solves problem with players unable to message others, good, if not then keep looking at problem.

[2021-02-11 12:22] ChipWolf opened #67 "Switch proxy to Waterfall"
[Travertine](https://github.com/PaperMC/Travertine) is a fork of [Waterfall](https://github.com/PaperMC/Waterfall) which is in turn a fork of [BungeeCord](https://github.com/SpigotMC/BungeeCord).

Many optimisations, fixes, and quality of life changes are implemented downstream.
The vast majority of the BungeeCord plugins are compatible with the downstream forks.

I believe this may resolve Archit

[2021-02-11 12:22] bloodycoffin opened #68 "Kicked for Spamming by Spigot - /setblock command"
Litematica allows players to "paste schematic in world" with the "executeOperation" hotkey which uses /setblock command to fill in the schematic with the actual blocks.
However due to the Spigot spam filter the usage of the /setblock command over and over causes players to get kicked.

[2021-02-11 12:25] bloodycoffin commented on #68
In "/var/lib/rancher/k3s/storage/pvc-2a25245c-2424-4184-94db-b01cd8e067e5_default_minecraft-proxy-bravo-bungee-datadir/config.yml" added following lines:
commands:
  spam-exclusions:
  - /skill
  - /setblock

Then in Luckperms added "minecraft.command.setblock" to default.member group to allow usage of command by players.

[2021-02-11 12:38] bloodycoffin opened #73 "Players are displayed as greyed out in the tab list"
Even though players are active they are displayed as greyed out since the disabling of the last plugin: "AFKPlus". Before that we had datapack "AFK Display" enabled. Either of these might have screwed with the scoreboard and it needs to be reset.

[2021-02-11 12:39] bloodycoffin opened #69 "Pressing tab doesn't display players in the other world (survival/creative)"
Pressing tab doesn't display players in the other world (survival/creative)
Suggestion Chip: Installing TAB "https://www.spigotmc.org/resources/tab-1-7-x-1-16-5.57806/"

[2021-02-11 13:22] bloodycoffin opened #74 "Mob cap easily reached"
There are situations where the mob cap is easily reached due to the minority of players saturating the majority of the mob limit. Mob farms and unlit caves are the primary reasons.

[2021-02-11 15:09] ChipWolf commented on #74
The [**per-player-mob-spawns**](https://paper.readthedocs.io/en/latest/server/configuration.html#per-player-mob-spawns) config option might be the first step in resolving this issue, it was implemented in PaperMC/Paper#2171. This was formerly [a plugin](https://www.spigotmc.org/resources/distributedmobspawns.67599), it was then added to Paper.

Unfortunately, I don't believe it's the entire soluti

[2021-02-11 15:47] bloodycoffin opened #57 "Shopkeepers can no longer be renamed"
SilverVee attempted to rename the shopkeeper, it didn't work.
FlooferDoofer (OP) went over to attempt it and it also didn't work.

Must have something to do with a change we've done recently.
There are no changes done to the Shopkeepers config to cause this so it has to be another plugin or other config that is causing a conflict.

[2021-02-11 16:01] ChipWolf commented on #57
I recall not being able to rename a shopkeeper some time ago, @blablubbabc might have some advice here.
On the shopkeeper topic, there's also Shopkeepers/Shopkeepers#722 which requires a config change to prevent spawning baby villagers.

[2021-02-11 18:36] bloodycoffin commented on #74
Enabled "per-player-mob-spawns" in paper.yml and lowered the mob cap in bukkit.yml for monsters to 45.
Asked for player feedback to see how well this does: Alexon, wai_tea, @Acuilaa

[2021-02-11 19:14] blablubbabc commented on #57
The only issue I am aware of related to shopkeeper renaming are BungeeCord chat (muting) plugins. So if you guys use BungeeCord, or any other kind of server proxy, check if you are using a proxy-level plugin or feature that might prevent chat packets from passing through to the underlying Spigot server.
Edit: For instance, if you use a chat plugin on the proxy-level that implements some kind of ne

[2021-02-11 21:43] ChipWolf commented on #57
Yes, that's exactly what we're doing, it'll be gChat for BungeeCord handling chat at the proxy-level.
We'll have to investigate a new chat solution in that case or implement a compatibility hook.
Thanks for the help @blablubbabc!

[2021-02-12 14:00] blablubbabc commented on #57
Maybe this might be a solution: https://github.com/blablubbabc/BungeeForwardCancelledChat

[2021-02-12 18:57] bloodycoffin commented on #74
Changed to 70, can freely change between values if players give feedback that this is too much.

[2021-02-13 18:41] bloodycoffin opened #58 "Players join the proxy automatically on Creative instead of Survival"
Players join the proxy automatically on Creative instead of Survival

=> Can we set the survival to Default?

[2021-02-13 19:02] bloodycoffin commented on #67
Waterfall instead of Travertine, there is no need to implement Travertine as it only adds additional support for older versions

[2021-02-13 20:06] ChipWolf commented on #57
It works 😄 Thank you for developing that plugin so quickly, we're beyond grateful @blablubbabc

[2021-02-13 20:11] ChipWolf commented on #58
The priority order in the proxy config was invalid, this will be fixed on the next proxy restart

[2021-02-13 21:26] bloodycoffin opened #59 "Players do not display as AFK on the tablist when using the /afk command"
Players do not display as AFK on the tablist when using the /afk command

TAB does support AFK plugins, we just need to find out which one.

[2021-02-13 21:59] ChipWolf commented on #59
I've engaged with @neznamy on the TAB Discord, will have a solve soon

[2021-02-13 22:19] ChipWolf commented on #59
![](https://i.cwlf.uk/ndK68)
https://github.com/NEZNAMY/TAB/wiki/How-to-set-up-PlaceholderAPI-support-on-bungeecord
https://github.com/NEZNAMY/TAB/wiki/Feature-guide:-Placeholder-output-replacements-(premium-only)

[2021-02-13 22:31] bloodycoffin opened #60 "Players have two join messages, one for network, one for server"
Players have two join messages, one for network, one for server.
We need to remove the network join/leave message somehow.

[2021-02-13 22:32] bloodycoffin opened #62 "Error message "share" function Voxelmap doesn't work"
![image](https://user-images.githubusercontent.com/78444107/107863300-91a85080-6e53-11eb-8f76-7a00a351b14c.png)
When selecting a user that is online you get the message that they're not online so you can't share coordinates with other players. Need to investigate what plugin is causing this issue since before the last project 2.1 this was perfectly possible.

[2021-02-13 23:32] ChipWolf commented on #59
@bloodycoffin RfC, mainly in regards to premium replacements.

[2021-02-13 23:41] ChipWolf commented on #62
I believe this is because [TAB](https://github.com/NEZNAMY/TAB) overrides the data source for usernames VoxelMap relies on.
This would either require a compatibility patch from TAB _(@neznamy)_, VoxelMap _(@MamiyaOtaru)_, or both.

![](https://i.cwlf.uk/VGKzo)
![](https://i.cwlf.uk/Ob3P4)

[2021-02-13 23:47] ChipWolf commented on #60
I believe this is solved, the wrong worlds were listed in the HideStream config on survival, please verify

[2021-02-14 00:28] bloodycoffin opened #63 "ViewDistanceCat 4.8.2"
Check out ViewDistanceCat 4.8.2 in DEV environment to see what kind of impact this has on server/client side.

Multithreading
This allows players to view a larger distance of chunks independent of what is actually loaded.
Extended view distance chunks are not ticked.
Mostly asynchronous.
Please note that the expandable render distance can be very large, up to 32. At a certain point, The client won

[2021-02-14 00:37] NEZNAMY commented on #62
TAB does not change player names in gameprofile (which is what Player#getName() returns). It in fact performs no server-side modifications whatsoever.

[2021-02-14 00:47] ChipWolf commented on #59
Resolved with `xAntiAFK` in dev.

[2021-02-14 01:54] ChipWolf commented on #62
Must be VoxelMap doing something funky in that case. Thanks @NEZNAMY

[2021-02-14 19:34] bloodycoffin opened #61 "Update plugins"
Next time we deploy an update to the server let's also update the existing plugins and disable the update message for Holographic Displays that it sends to people when they join the server.

[2021-02-16 20:27] ChipWolf commented on #63
Closing this for now while we experiment with Paper's `no-tick-view-distance`

[2021-02-17 12:40] FlooferDoofer opened #72 "Default game mode for Creative server"
Players now start in survival and tend to die in the air randomly after relogging.
I suggest to change default game mode to Creative for the Creative server.

[2021-02-17 16:55] bloodycoffin opened #48 "TAB List visual improvement requested"
Request from players to change the number of the ping (yellow-number-in-tablist: '%ping%') to another value, like time since death or days since last slept or amount of levels.
Admins would like to know whether it can use other player statistics or which options they have to possibly let the player base vote on their favorite.

(Didn't have time to investigate yet due to work.)

[2021-02-17 20:21] ChipWolf commented on #60
https://github.com/ArchitectSMP/k8s-gitops/issues/48#issuecomment-778694760 has been verified

[2021-02-17 20:28] ChipWolf commented on #61
ArchitectSMP/k8s-gitops#55 should fix this

[2021-02-17 20:59] bloodycoffin commented on #72
used multiverse command `/mvm set mode creative` to change default mode to creative - players joined the servers in creative - problem appears fixed

[2021-02-17 21:20] bloodycoffin opened #47 "Find plugin to protect loot chests"
Loot chests generate new loot within the world automatically between 12 and 48 hours for another player (a player can only loot it once, but then another player can also at a later time). However when the chest is destroyed it cannot spawn new loot of course. It would be nice to be able to protect these chests to prevent from people making this mistake or doing this on purpose.

If we can find a b

[2021-02-18 02:02] ChipWolf commented on #47
The closest thing I have found is [ChestRestock](https://dev.bukkit.org/projects/chestrestock).
Looks like we'd have to use one of the updated forks, the [original code](https://github.com/dumptruckman/ChestRestock) is out of date.

[2021-02-18 19:00] bloodycoffin opened #56 "Aliases from plugins are conflicting - VoxelSniper"
/m from VoxelSniper is already used as an alias for /msg in MultiChat
/v from VoxelSniper is already used as an alias for /vanish in PremiumVanish

Need to remove these aliases where possible to resume functionality VoxelSniper

[2021-02-19 10:30] FlooferDoofer opened #46 "PremiumVanish doesn't work as intended"
Players can see us login, logout and in the tablist.
In the tablist our names do not get greyed out or italic even for others.
Aphelia bot (in-game-chat) tells players in Discord when we login or logout in Vanish

[2021-02-19 19:11] FlooferDoofer opened #71 "Players can't chat between servers"
Can't chat between survival and creative server

[2021-02-19 19:18] bloodycoffin commented on #71
@ChipWolf
Can this have something to do with the changing of the IP addresses?
There is nothing in MultiChat config that was changed.

[2021-02-20 15:16] ChipWolf commented on #48
Wrong issue in the cifs commit

[2021-02-21 16:52] ChipWolf commented on #71
![](https://i.cwlf.uk/DV9EY)

![](https://i.cwlf.uk/4OON6)

So, MultiChat's global chat **_was_** working perfectly. The global channel is configured as the default and it's forced on all users during login.
Now, it looks like it's stopped working & frankly I'm not certain why; I don't believe anything has changed which could interfere with chat in any meaningful way.

Strangely enough, MultiChat'

[2021-02-21 18:30] ChipWolf commented on #71
I had a hunch this could've been due to our switch from BungeeCord to Waterfall, but I reverted that change in our dev environment & the issue persists.

[2021-02-22 18:56] ChipWolf commented on #71
Asked support on the MultiChat Discord for help, just waiting on a response there. According to their FAQ for global chat not working, we tick all of the boxes.

![](https://i.imgur.com/bqCq4GZ.png) ![](https://i.imgur.com/I3k0bZf.png)

[2021-02-23 13:35] FlooferDoofer opened #64 "Vanish not working properly"
Shadow (member, no other permissions) can see players who are in vanish mode
And login and logout messages still appear in the in-game chat + the Discord channel
Meaning vanish does not work at all at the moment

[2021-02-23 14:05] bloodycoffin commented on #46
@ChipWolf next to the globalchat the PremiumVanish is also no longer working as expected. Originally noticed by admins 4 days ago. I amended the comment to reflect all current problems

[2021-02-23 14:06] bloodycoffin commented on #64
Duplicate of ArchitectSMP/mc-config#46

[2021-02-23 14:06] bloodycoffin commented on #46
Player ShadowKiller reported being able to see the admins even though he has no additional LuckPerms rights to be able to do so

[2021-02-23 14:12] bloodycoffin commented on #56
Adapted MultiChat aliases for /msg:
Removed /m
Adapted PremiumVanish aliases for /pv:
Removed /v

Require restart to implement PremiumVanish alias removals on Creative and Survival

[2021-02-23 20:47] ChipWolf commented on #71
@stw222 suggests adding the MultiChat plugin to the local servers in addition to the proxy. I'll attempt this in the dev environment.
It doesn't explain how this was previously working, but we'll give it a shot.

[2021-02-23 21:58] bloodycoffin commented on #56
Server has been restarted

[2021-02-23 21:58] ChipWolf commented on #71
Closed, the fix suggested worked. Also, removing some additional plugins which were interfering with chat was necessary.

[2021-02-24 20:14] ChipWolf opened #55 "Replace Aphelia with DiscordSRV"
We're going full circle here, Aphelia has barely any config options and we can't silence join/leaves without modifying code and building our own version of the plugin. It also depends on a Discord bot we don't operate and could cease functioning at any point, so based on those things we should replace it with DiscordSRV.

We used DiscordSRV previously before Aphelia but had to replace it with Aphe

[2021-02-24 20:17] ChipWolf commented on #46
ArchitectSMP/k8s-gitops#92 will solve the final point regarding join/leave showing in Discord
It [looks like](https://github.com/NEZNAMY/TAB/search?q=premiumvanish), the TAB plugin supports PremiumVanish, so we'll have to investigate config there.
Do we see join/leave network/game messages also @FlooferDoofer?

[2021-02-24 20:24] ChipWolf commented on #46
I've figured out what the issue is with the tab-list.

We use the "spy servers" feature of TAB to ensure players can see all players on the network from each of the servers.
However, [this line of code](https://github.com/NEZNAMY/TAB/blob/0e7a445fbeb76d9ab89d96731621da8b4e7f55b3/src/main/java/me/neznamy/tab/shared/features/GlobalPlayerlist.java#L56) will return true to the `shouldSee`-the-tab-list

[2021-02-24 20:42] ChipWolf commented on #46
The TAB developer has resolved this in v2.8.11-pre5, seems like it works in dev. The jar is replaced on the main proxy & now it just requires a restart.

[2021-02-25 14:20] bloodycoffin commented on #55
@ChipWolf is Aphelia in any way implemented as plugin in the pods or only in Discord? I don't immediately see it on Dev to try and implement this myself so I wanted to double check there are no configs I miss.

[2021-02-25 18:48] ChipWolf commented on #55
It's on the proxy, it's called Hermes for [whatever reason](https://aphelia.github.io/hermes/)

[2021-02-26 20:00] bloodycoffin opened #54 "Remain in flight after leaving PremiumVanish in Survival"
Remain in flight after leaving PremiumVanish in Survival
Workaround: change game mode to spectator and then back to survival,

[2021-02-26 20:04] ChipWolf commented on #46
Two smaller issues, the leave message PremiumVanish fires when a user vanishes is 'left the game' rather than 'left the network'. I've fixed this in the messages config, the servers will need a restart.

As per MultiChat/Development#167, there isn't a feature to disable quit messages while in vanish for MultiChat so that'll just need to be implemented. A temporary workaround is disabling the leave

[2021-02-26 20:05] ChipWolf commented on #54
@LeonMangler might have a solve for this

[2021-02-26 20:36] ChipWolf commented on #46
I implemented a feature to silence quit messages when vanished for MultiChat https://github.com/MultiChat/Development/pull/168
Will replace our jar when @OllieMartin puts out an official release

[2021-03-01 16:41] LeonMangler commented on #54
Hey, it sounds like you might be unaware of the pv.keepfly permission, which lets you keep flying after leaving vanish.

[2021-03-01 18:01] bloodycoffin commented on #54
@LeonMangler thank you for answering :-) I was indeed unaware that this permission automatically kept admins in flight, I have changed it in LuckPerms to false and it appears solved. Silly me only looking at the config files. Thank you!

[2021-03-05 20:46] bloodycoffin commented on #55
Tested in DEV, seemed okay
Put into PROD, placeholder xAntiAFK acting odd since reload papi
![image_2021-03-05_214619](https://user-images.githubusercontent.com/78444107/110171582-3804c780-7dfc-11eb-8734-beabc7684d27.png)

[2021-03-05 20:56] bloodycoffin opened #53 "xAntiAFK placeholders are not parsed in the TAB"
![image](https://user-images.githubusercontent.com/78444107/110172438-6c2cb800-7dfd-11eb-8125-ec368c7a8b25.png)

[2021-03-05 20:58] ChipWolf commented on #53
This could be because we're using `TAB-BukkitBridge` to forward placeholders to the proxy & there may be an incompatibility between our prerelease version of TAB and the release version of the bridge.

[2021-03-05 21:19] ChipWolf commented on #53
Spoke to the TAB developer, it has nothing to do with TAB.

However; we did find if we remove DiscordSRV from the servers, it resolves this.
Perhaps @Scarsz or @Vankka can assist here?

[2021-03-05 21:20] bloodycoffin commented on #53
Hunch it has to do with this line of code:

https://github.com/DiscordSRV/DiscordSRV/pull/964/files#diff-339706e1556e2e6b32033f1557312e0d3c113f6f88b10913fd0c0ab37e9dff33L61

[2021-03-05 21:38] Scarsz commented on #53
The line you mentioned would not be affecting placeholders being used by other plugins. That's a method that DiscordSRV itself uses internally

That character is subsequently removed, also, https://github.com/DiscordSRV/DiscordSRV/pull/964/files#diff-339706e1556e2e6b32033f1557312e0d3c113f6f88b10913fd0c0ab37e9dff33R65

[2021-03-05 21:55] ChipWolf commented on #53
Resolved by Vankaa in the DiscordSRV issue I raised. It turned out to be an issue with xAntiAFK & a startup script on our end.
Thanks for the help @Scarsz

[2021-03-06 18:19] bloodycoffin commented on #55
This is setup now without problems :-)

[2021-03-06 18:21] ChipWolf commented on #55
Probably worth @AwesomestCode having visibility of this. Our biggest issue with Aphelia is the lack of config to silence join/leaves, especially for vanished members. It's a far simpler/better solution other than that.

[2021-03-06 18:25] raymondjxu commented on #55
As of 21 November 2020, Aphelia is no longer actively maintained except for security bug fixes, mainly due to the trouble getting it off the ground (not many users were interested) and my disliking of Discord's new Bot Verification policy.
I've since moved on to other projects though, some also targeting Minecraft server owners.
It's very simple to disable login/leave messages if you're willing to

[2021-03-11 16:18] bloodycoffin opened #45 "Implement Proximity Chat"
~~https://www.curseforge.com/minecraft/mc-mods/simple-voice-chat/~~

~~**Important Notes**~~
~~You need to open a port on the server. This is port 24454/udp by default. Without opening this port, the voice chat will not work. This port can be changed in the server config. More information here.~~
~~This mod does only work when connected to a dedicated server. You need to have this mod installed on

[2021-03-14 00:01] FlooferDoofer opened #65 "Intermittent disappearance"
Player SH4D0WK1LL3R does not always appear in the tab list and is not visible in the game for players after logging in.
For admin he sometimes does and sometimes doesn't appear in the tablist as [member] -name- while invisible to others.
He is also not visible to himself in F5 and in his own tab list.
Shadow can chat normally with other players despite this happening.
So far this has happened 3 ti

[2021-03-14 08:20] bloodycoffin commented on #65
Asked player to try the following. This is client-side which influences the server - not a server problem.

After you've loaded the world, then go to the "Help & Options" menu, then "Settings", then "Reset to Defaults" which will clear all the settings changes regardless of whether they were due to the bug or ones you've set manually. You can then go to the different settings options and re-change

[2021-03-14 08:24] bloodycoffin commented on #46
Have replaced Aphelia with Discord SRV and removed join/quit messages completely from the data that Discord SRV sends to Discord from Minecraft.
Did another test with players without additional rights and they can no longer see us join/leave while in Vanish, don't get a separate left the network message when leaving in Vanish and no longer visible in tab menu when Vanished.
As we have reached the

[2021-03-15 19:30] bloodycoffin opened #44 "Update plugins"
Make sure the plugins are at the latest compatible version, test on Dev, then publish on Production to keep everything working.

[2021-03-17 22:08] bloodycoffin opened #43 "Add Maintenance Plugin"
https://www.spigotmc.org/resources/maintenance-bungee-and-spigot-support-1-8-1-16.40699/
Add maintenance plugin to prevent players (except when maintenance-whitelisted) from joining during maintenance

[2021-03-17 22:10] bloodycoffin commented on #45
As this is a Fabric mod we are examining other solutions to achieve the same end
OpenAudioMC was contacted in Discord to see if they are looking for new partners for their voice chat solution as we wouldn't have to completely alter our Minecraft server to use it and it is not Discord dependent. We are waiting on a response before we decide how to go further with this.

[2021-03-17 22:12] bloodycoffin commented on #62
@MamiyaOtaru is this something you would be willing to take a look at? (Voxelmap)

[2021-03-18 00:31] ChipWolf commented on #45
We've requested partnership with @Mindgamesnl's project, OpenAudioMc, which meets this requirement _(and beyond)_.
I'll update here once we have more.

There are a few other projects we've looked at, I'll save listing them all here.
We reached the consensus that we don't want anything which will integrate with Discord or require a mod for the player's client.

[2021-03-21 21:11] FlooferDoofer opened #52 "Wandering traders are ... bouncing?"
Wandering Traders keep jumping while nodding its head, making it unable to trade with them.
Pushing them around, putting them in a hole, making them fall a short distance all don't make a difference.

Putting them in a boat or in a hole with one level of water seems to stop the movement enough to be able to trade with them.

The nodding looks like he is lost interest and then notices the player ag

[2021-03-21 21:12] bloodycoffin commented on #52
@ChipWolf I don't remember us amending anything that would impact Wandering Traders. I also can't find anything on Wandering Traders continuously jumping. Any ideas?
It has been observed for a few days, not anything to do with this?
https://github.com/ArchitectSMP/k8s-gitops/commit/2449b892fc84c2c586650046d832443a571342fa

[2021-03-22 00:27] ChipWolf commented on #52
Yeah, nothing to do with the chart/container, it's an application issue so defer to Paper?

[2021-03-22 16:22] bloodycoffin commented on #52
Did the paper version change with the maintenance or did it somehow update without my knowledge?

[2021-03-22 20:44] bloodycoffin commented on #52
@ChipWolf  " I am running the latest version of Paper available from https://papermc.io/downloads. *"

This server is running Paper version git-Paper-558 (MC:1.16.5) (Implementing API version 1.16.5-R0.1-SNAPSHOT)
You are 6 version(s) behind.

Since we are currently not up-to-date I am technically not allowed to log an issue on their Github.
Can we update or is something keeping us behind?

[2021-03-22 21:23] bloodycoffin opened #42 "Check for plugins that can replace current data packs"
Check for plugins that can replace current data packs from Vanilla Tweaks for performance improvement:
- Armor Statues
- Durability Ping
- More Mob Heads
- Multiplayer Sleep
- Nether Portal Coords
- Player Head Drops
- Silence Mobs
- Track Raw Statistics
- Track Statistics
- Unlock all recipes
- Wandering Trades (+mini blocks)

Crafting Tweaks:
- back to blocks
- universal dyeing
- sandstone dyein

[2021-03-22 21:28] bloodycoffin opened #51 "Remove rotation wrench plugins"
Remove data packs for Redstone & Terracotta rotation wrench as they are using up too much tick time

[2021-03-22 21:28] bloodycoffin commented on #51
Removed from survival (33c)

[2021-03-24 20:13] ChipWolf commented on #46
Not sure why this was closed. silence quit messages is not yet implemented as per https://github.com/ArchitectSMP/k8s-gitops/issues/76#issuecomment-786880707

[2021-03-24 20:15] ChipWolf commented on #52
The container grabs the latest version of paper when started https://github.com/itzg/docker-minecraft-server/blob/master/start-deployPaper#L20

[2021-03-24 22:27] bloodycoffin commented on #52
According to today's check the survival is still 1 version behind.
Will a restart of the Survival + Creative + Bungee Proxy server update Paper?

[2021-03-25 11:03] FlooferDoofer opened #50 "Whitelist removal not always working"
Three names remain on the whitelist in /var/openebs/local/pvc-cb83e64e-896b-4401-b4ca-5958321db183/plugins/BungeeSafeguard/config.yml after removal via in game command.
I have not manually removed these names or touched the list in any way since I noticed this issue.

When trying to use /whitelist remove [name] again it gives either a confirmation that they are no longer on the list (which they ar

[2021-03-26 13:59] ChipWolf commented on #50
Perhaps the directory just needs `chown -R 1000:2000`
`Permission denied` just means the user doesn't have the permissions set on the file

[2021-03-26 14:14] ChipWolf commented on #50
If the command returns they're not in the whitelist, the plugin is likely reading the list into memory and making modifications to what it holds in memory & reporting success before committing it to disk. In doing so, not surfacing the issue to the user.
Perhaps @Luluno01 can chime in on this?

[2021-03-26 14:57] Luluno01 commented on #50
Yes, the plugin maintains a copy of the whole list in memory and only commits changes to the disk after it changed the list in memory.

@FlooferDoofer mentioned when issuing `/whilelist remove [name]`, there are two kinds of outputs. If I am right, you must have got the `Failed to remove [name] from whitelist: java.io.FileNotFoundException: plugins/BungeeSafeguard/config.yml (Permission denied)` e

[2021-03-26 15:33] bloodycoffin commented on #50
Config file is there with the whitelisted members - chown to 1000:2000 - will probably first need a reboot before that is processed
@ChipWolf let me know if you can think of anything else I can check based on Luluno01's suggestion as for now it seems fine
The error messages only started after our last maintenance where we tested the new backup solution and restored from backup - maybe something we

[2021-03-27 22:54] ChipWolf commented on #52
Just running `/stop` will make it come back up with the latest version
The Paper version is specified as `latest`, we just specify the Minecraft version as `1.16.5` to prevent any future updates causing problems.

[2021-03-28 12:48] bloodycoffin opened #49 "Setup CoreProtect in Creative"
Tried to copy over the .jar and config folder for CoreProtect into Creative but it doesn't seem to properly work (I placed blocks in creative and then checked with co inspect and saw no block data) - is this because people are in Creative or some other reason?
@ChipWolf anything you know might be nice :D

[2021-03-28 12:50] bloodycoffin commented on #52
Right now the Wandering Traders are no longer bouncing around, if a new case is presented we can re-open

[2021-03-28 14:51] bloodycoffin commented on #50
Adding people now also doesn't save them permanently, so we have a general problem with the whitelist
@ChipWolf this is now a high priority as it is scaring people off thinking they have been banned when they have just joined and people that have been banned that still have access

[2021-03-28 15:48] Luluno01 commented on #50
My contingency measurement for this is to always make sure the changes in memory are made - even if they failed to persist. You can verify this via the command `/bsg dump` to checkout the in memory states. That said, you should still fix the file system problem as the lists are not persisted to the disk in your case.

[2021-03-28 16:10] FlooferDoofer commented on #50
Added 2 new players to whitelist yesterday via /whitelist add [name].
This also shows an error after giving a confirmation.

Then today we needed to unwhitelist 2 players and the players we added yesterday got removed instead.

Attempted to manually remove these players from the config.yml and then test if it would persist after a proxy reboot. It restored the removed players' UUID instead. (Lucki

[2021-03-28 16:49] Luluno01 commented on #50
Considering all your observations, I now highly suspect that your file system (or the sandbox layer) synchronization mechanism (if you do have one) is broken or at least has an unexpectedly high latency.

Let's denote your initial version of the config file as `v0`. This is my guess:

## Observation 1

👆 Config file is removed or the plugin has no write access to it. Although the runtime throws an

[2021-03-31 18:11] bloodycoffin commented on #50
chown 1000:2000 to all files in Proxy seems to have fixed the issue - thanks Chip

[2021-03-31 18:18] bloodycoffin commented on #49
done :-)

[2021-03-31 18:24] bloodycoffin commented on #46
Chip's suggestion as MultiChat appears abandoned is to switch to BungeeChat, so far this looks like a good replacement and if this fixes the PremiumVanish plugin I don't think this is a bad idea
https://www.spigotmc.org/resources/bungee-chat.12592/

[2021-03-31 19:14] ChipWolf commented on #62
It doesn't look like @MamiyaOtaru is active, and I'm not seeing any movement on VoxelMap.
As this issue isn't anything to do with us, I'm closing this in favour of other minimaps.

[2021-04-02 11:41] #49 closed, assigned to nobody

[2021-04-02 11:42] #50 closed, assigned to nobody

[2021-04-02 11:42] #51 closed, assigned to bloodycoffin

[2021-04-02 11:43] #52 closed, assigned to nobody

[2021-04-02 11:44] #53 closed, assigned to nobody

[2021-04-02 11:45] #54 closed, assigned to nobody

[2021-04-02 11:45] #55 closed, assigned to bloodycoffin

[2021-04-02 11:45] #56 closed, assigned to bloodycoffin

[2021-04-02 11:46] #57 closed, assigned to nobody

[2021-04-02 11:46] #58 closed, assigned to nobody

[2021-04-02 11:46] #59 closed, assigned to ChipWolf, bloodycoffin

[2021-04-02 11:47] #60 closed, assigned to bloodycoffin

[2021-04-02 11:47] #61 closed, assigned to nobody

[2021-04-02 11:47] #62 closed, assigned to nobody

[2021-04-02 11:48] #63 closed, assigned to nobody

[2021-04-02 11:48] #64 closed, assigned to nobody

[2021-04-02 11:49] #65 closed, assigned to bloodycoffin

[2021-04-02 11:49] #66 closed, assigned to bloodycoffin

[2021-04-02 11:49] #67 closed, assigned to nobody

[2021-04-02 11:50] #68 closed, assigned to bloodycoffin

[2021-04-02 11:50] #69 closed, assigned to bloodycoffin

[2021-04-02 11:51] bloodycoffin opened #70 "Player was kicked due to keepalive timeout!"
Player was kicked due to keepalive timeout!

Seems to impact non-European players.

Following error messages are also read in the console, for example:
`Zzyzzyxx lost connection: Timed out`

Other example players: IanTheBeing

[2021-04-02 11:51] #70 closed

[2021-04-02 11:52] #71 closed, assigned to nobody

[2021-04-02 11:52] #72 closed, assigned to nobody

[2021-04-02 11:53] #73 closed, assigned to bloodycoffin

[2021-04-02 11:53] #74 closed, assigned to bloodycoffin

[2021-04-02 13:06] ChipWolf commented on #42
k8s-gitops#132

[2021-04-02 13:06] ChipWolf commented on #42
architectsmp/k8s-gitops#132

[2021-04-06 18:40] bloodycoffin opened #99 "Setup in-game commands for ArchitectSMP links"
See how to enable the following commands so people can use them in-game:
/website should give https://architectsmp.com (can we see about changing the DNS here to include www.? Because when I do use www. it says it can't resolve and I feel like it ought to?)
/twitch should give https://www.twitch.tv/architectsmp
/youtube should give https://www.youtube.com/channel/UCQbwhMPaSMkazDOZa_A0x0g
/github s

[2021-04-06 20:06] ChipWolf commented on #99
What about one command for them all? `/links`

[2021-04-06 22:46] bloodycoffin opened #100 "Animals all move into a single block"
![Animal Bug](https://user-images.githubusercontent.com/78444107/113786929-6ac31800-973a-11eb-8ab0-5fe259b8c605.png)

Animals after unloading a chunk and loading it again stand in a single spot and they stay stacked when following wheat or seeds.
@froobynooby any ideas? We use FarmControl.

[2021-04-07 10:25] froobynooby commented on #100
FarmControl's `soft-nerf-animal-farms` profile disables collisions of animals in farms which can cause them to form stacks like this if they are all pushed into the same spot by water or lured by a player holding wheat/seeds. It shouldn't specifically cause them to do this when a chunk is unloaded and then loaded again though

I've added an option in https://github.com/froobynooby/FarmControl/comm

[2021-04-07 13:51] bloodycoffin commented on #99
Won't that be spam if you get that in-game ? XD @ChipWolf

[2021-04-07 22:26] ChipWolf commented on #99
We can configure a redirect from `www.` to the naked domain, however, [we shouldn't](https://dropwww.com/) use `www.` as the primary address.

[2021-04-10 14:17] #44 closed, assigned to bloodycoffin

[2021-04-18 21:56] pengolod opened #101 "Chat is leaked via map.architectsmp.com"
<img width="749" alt="image" src="https://user-images.githubusercontent.com/80605795/115162067-deccbc80-a066-11eb-93a5-690729c33765.png">

The Dynmap apparently shows the Minecraft chat log in the bottom left of the screen, which I feel is probably not expected behavior since the members list on discord is restricted from interviewees.

[2021-04-18 22:03] bloodycoffin commented on #101
There is no configuration.txt line that specifically seems to block this. We did disable webchat.

For now I have changed the following values to 0:
  - class: org.dynmap.ClientComponent
    # Optional: set number of lines in scrollable message history: if set, messagettl is not used to age out messages
    **#scrollback: 0**
    # Optional: set maximum number of lines visible for chatbox
    **#v

[2021-04-22 15:56] bloodycoffin commented on #101
@pengolod alright I think I fixed the problem. Witter and I didn't immediately see the chat appear anymore on the map.
Let me know if you still see it, if not then I'll close the issue.

[2021-04-22 20:10] pengolod commented on #101
<img width="747" alt="Screen Shot 2021-04-22 at 3 09 48 PM" src="https://user-images.githubusercontent.com/80605795/115778852-dc2ad980-a37c-11eb-817a-a1ecb7c08316.png">
no dice

[2021-04-25 00:33] ChipWolf commented on #101
We should probably just consider the switch to BlueMap either way

[2021-04-25 08:15] bloodycoffin commented on #100
@froobynooby thank you for all the help so far. Unfortunately the "stacking" of animals kept happening so we tried to update the following lines in config.yml:
# These settings concern properties of actions.
    action-settings:
      # These settings concern when an action should be undone, and can be specified per action.
      #  * Note: If an action is not specified, or if an option is blank,

[2021-04-25 23:57] pengolod commented on #101
<img width="1440" alt="Screen Shot 2021-04-25 at 6 54 48 PM" src="https://user-images.githubusercontent.com/80605795/116013820-bfe6a100-a5f7-11eb-9c8c-bef54b10d6f8.png">

[BlueMap](https://bluecolored.de/bluemap/#acrana) is kinda sick - comes with spectator mode?

[2021-04-26 00:08] pengolod commented on #101
https://map.playmonumenta.com/ looks like it uses the same dynmap mod but I have yet to see chat leaked? Maybe useful to look into?

[2021-05-03 15:11] FlooferDoofer commented on #48
I could look into this, make a list of options we can discuss or even test.
If you could let me know which plugins affect the scoreboard at the moment, I'll get right on it.
From what I can see we have TAB-BukkitBridge and MultiChat. Any other ones?

[2021-05-03 17:56] ChipWolf commented on #48
TAB is the scoreboard, it's a proxy plugin
TAB-BukkitBridge forwards the [placeholders](https://github.com/PlaceholderAPI/PlaceholderAPI/wiki/Placeholders) from the servers to the proxy
Multichat doesn't affect the scoreboard

[2021-05-03 17:57] FlooferDoofer commented on #48
Thanks, then I'll look into TAB options

[2021-05-03 18:01] ChipWolf commented on #48
@FlooferDoofer the 'ping' in the scoreboard is just a placeholder, you can replace it with any placeholder from the link above

[2021-05-03 21:32] FlooferDoofer opened #102 "On death items despawn too quickly"
Some players have been reporting items despawning very quickly, even within second.
One players died next to their bed, respawned and their stuff was already gone.
I have heard multiple players complaining about it, but they were usually further away and they could have just arrived too late.
But this one player let us know right away. No server issues at any of the reported moments.

[2021-05-04 07:26] bloodycoffin commented on #102
Which player? @FlooferDoofer

[2021-05-04 07:28] bloodycoffin commented on #48
%statistic_deaths% is what I believe people would think as funny as it would show off the number of deaths @FlooferDoofer

[2021-05-04 07:33] bloodycoffin commented on #102
spigot.yml sets "item-despawn-rate: 6000" at 5 minutes, if the player did not immediately press respawn then I believe it counts towards the despawn rate while you stay in the death view which means your items will be gone.
Maybe I can tell something with co lookup or what ever but as long as it is only one person we cannot assume that it is a bug.

[2021-05-04 07:34] bloodycoffin commented on #43
Needs to be tested as it has been added but not used yet.

[2021-05-04 07:45] bloodycoffin commented on #102
just FYI paper.yml does have an override for the item-despawn-rate but only when enabled and for specific items (to have for example stone and cobblestone despawn faster)
    alt-item-despawn-rate:
      enabled: false
      items:
        COBBLESTONE: 300

But right now we are not using that

[2021-05-04 07:47] bloodycoffin commented on #102
There is a bug open with Mojang https://bugs.mojang.com/browse/MC-117783 but not sure if they're actively looking at fixing it

[2021-05-04 09:21] FlooferDoofer commented on #48
I just don't want it to turn into a death competition, or people made fun of because they die a lot, or people feeling superior because they haven't died that much. But we can write down some options, vote for it. Or like Chip suggested have a roulation of random ones and people can guess it for a price. And then when we're bored with that upkeep we choose a static value?

[2021-05-04 10:11] bloodycoffin commented on #102
Investigated, does not seem to be an overall problem and reported players seemingly too late to retrieve gear

[2021-05-04 10:11] #102 closed, assigned to nobody

[2021-05-05 12:14] froobynooby commented on #100
Sorry for taking so long to respond. I think this is the same issue as https://github.com/froobynooby/FarmControl/issues/4. The issue is with undoing the `remove-random-movement` action on tempt due to a concurrent modification error relating to where the tempt event is called. I've just uploaded a new version to spigot that simply disallows undoing this action on tempt, but will try to find a bet

[2021-05-11 20:22] bloodycoffin opened #103 "Add Head Database"
Purchased https://www.spigotmc.org/resources/head-database.14280/ and added to DEV Survival and Creative.
Needs to be tested to see if there are any conflicts with other mods and to see how to set Config

[2021-06-01 12:24] bloodycoffin commented on #103
Implemented with rights only assigned to admins while player KeekTheMoonPanda owns the head shop

[2021-06-01 12:24] #103 closed, assigned to bloodycoffin

[2021-06-01 12:25] bloodycoffin commented on #43
Implemented, works properly

[2021-06-01 12:25] #43 closed, assigned to bloodycoffin

[2021-06-01 12:32] bloodycoffin commented on #42
Implemented "Head Database" plugin. Discussing removing "Wandering Trades (+mini blocks)", "Player Head Drops" and "More Mob Heads" for 1.18 server reset.